In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [3]:
car_df=pd.read_csv('cars.csv')
car_df.head()

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000

In [4]:
car_df_fe=pd.get_dummies(car_df,columns=['Brand','Model'])
car_df_fe.head()

,Car_ID,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,...,Model_Vento,Model_Venue,Model_Verna,Model_Vitara,Model_WR-V,Model_X1,Model_X3,Model_X5,Model_XUV300,Model_Yaris
0,1,2018,50000,Petrol,Manual,First,15,1498,108,5,...,False,False,False,False,False,False,False,False,False,False
1,2,2019,40000,Petrol,Automatic,Second,17,1597,140,5,...,False,False,False,False,False,False,False,False,False,False
2,3,2017,20000,Petrol,Automatic,First,10,4951,395,4,...,False,False,False,False,False,False,False,False,False,False
3,4,2020,30000,Diesel,Manual,Third,23,1248,74,5,...,False,False,False,False,False,False,False,False,False,False
4,5,2016,60000,Diesel,Automatic,Second,18,1999,194,5,...,False,False,False,False,False,False,False,False,False,False

In [6]:
label_encoder=LabelEncoder()
car_df_fe['Fuel_Type']=label_encoder.fit_transform(car_df_fe['Fuel_Type'])
car_df_fe['Transmission']=label_encoder.fit_transform(car_df_fe['Transmission'])
car_df_fe['Owner_Type']=label_encoder.fit_transform(car_df_fe['Owner_Type'])
car_df_fe.head()

,Car_ID,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,...,Model_Vento,Model_Venue,Model_Verna,Model_Vitara,Model_WR-V,Model_X1,Model_X3,Model_X5,Model_XUV300,Model_Yaris
0,1,2018,50000,1,1,0,15,1498,108,5,...,False,False,False,False,False,False,False,False,False,False
1,2,2019,40000,1,0,1,17,1597,140,5,...,False,False,False,False,False,False,False,False,False,False
2,3,2017,20000,1,0,0,10,4951,395,4,...,False,False,False,False,False,False,False,False,False,False
3,4,2020,30000,0,1,2,23,1248,74,5,...,False,False,False,False,False,False,False,False,False,False
4,5,2016,60000,0,0,1,18,1999,194,5,...,False,False,False,False,False,False,False,False,False,False

In [7]:
scaler=MinMaxScaler()
car_df_fe[['Kilometers_Driven','Mileage','Engine','Power','Seats']]=scaler.fit_transform(car_df_fe[['Kilometers_Driven','Mileage','Engine','Power','Seats']])
car_df_fe.head()

,Car_ID,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,...,Model_Vento,Model_Venue,Model_Verna,Model_Vitara,Model_WR-V,Model_X1,Model_X3,Model_X5,Model_XUV300,Model_Yaris
0,1,2018,0.8,1,1,0,0.333333,0.126265,0.121951,0.333333,...,False,False,False,False,False,False,False,False,False,False
1,2,2019,0.6,1,0,1,0.466667,0.151316,0.219512,0.333333,...,False,False,False,False,False,False,False,False,False,False
2,3,2017,0.2,1,0,0,0.000000,1.000000,0.996951,0.000000,...,False,False,False,False,False,False,False,False,False,False
3,4,2020,0.4,0,1,2,0.866667,0.063006,0.018293,0.333333,...,False,False,False,False,False,False,False,False,False,False
4,5,2016,1.0,0,0,1,0.533333,0.253036,0.384146,0.333333,...,False,False,False,False,False,False,False,False,False,False

In [8]:
x=car_df_fe.drop(columns=['Price'])
y=car_df['Price']

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
LR=LinearRegression()
LR.fit(x_train,y_train)

LinearRegression()

In [11]:
for feature,coef in zip(LR.feature_names_in_,LR.coef_):
    print(f'{feature}:{coef}')

Car_ID:-1.0229858828034353e-09
Year:47136.84859082756
Kilometers_Driven:29449.523171895766
Fuel_Type:-238272.70420283783
Transmission:-430005.96086249157
Owner_Type:-147951.44300334633
Mileage:-451180.12706501345
Engine:-280179.8766214377
Power:1336556.2142906508
Seats:-8729.974273929896
Brand_Audi:498195.8883977319
Brand_BMW:744180.777535215
Brand_Ford:-52434.76403398963
Brand_Honda:-273694.02519934205
Brand_Hyundai:-319823.45701597945
Brand_Mahindra:-421279.6601240131
Brand_Maruti:-290825.77185683895
Brand_Mercedes:644830.2866611143
Brand_Tata:-340833.25401002343
Brand_Toyota:136005.24778665238
Brand_Volkswagen:-321236.9514606115
Model_3 Series:-39815.70883416239
Model_5 Series:0.40901132593717193
Model_7 Series:375290.69896518753
Model_A3:-30403.181491810283
Model_A4:-270054.60220618395
Model_A5:53907.854992222725
Model_A6:613114.7490268692
Model_Altroz:-75814.52792066525
Model_Ameo:-313143.86893192487
Model_Aspire:-62913.4841584119
Model_BR-V:-38719.455377916536
Model_C-Class:116016.28683320267
Model_Camry:232482.1947307977
Model_City:62617.68742947808
Model_Civic:-276966.40382049535
Model_Corolla:-0.0003466144553385675
Model_Creta:0.0007892338326200843
Model_E-Class:5578.060307380918
Model_EcoSport:-14473.97904758004
Model_Elantra:-363745.9842979509
Model_Endeavour:185407.61672431257
Model_Ertiga:45217.27428520017
Model_Figo:-213728.78792673134
Model_Fortuner:422354.8356078717
Model_GLA:-255827.9487800192
Model_GLC:-126993.13210405663
Model_GLE:904061.3683174842
Model_Harrier:-33484.30663482218
Model_Innova:-360355.2574356094
Model_Innova Crysta:-158199.08028016792
Model_Mustang:-54891.040812112864
Model_Nexon:-72719.36799967792
Model_Passat:119046.28918176022
Model_Polo:-517202.4198428475
Model_Q3:-113345.00803866831
Model_Q7:249933.24473821552
Model_Ranger:107826.62334718235
Model_S-Cross:-420968.9301705796
Model_Safari:80200.361355795
Model_Santro:152765.0004861687
Model_Scorpio:-436537.6365098042
Model_Sonata:0.0
Model_Swift:63273.73332918978
Model_T-Roc:0.0
Model_Thar:57094.1711819779
Model_Tiago:-81503.636000695
Model_Tigor:-159212.89050281775
Model_Tiguan:258428.59231804532
Model_Vento:130487.73580625036
Model_Venue:161028.04096490753
Model_Verna:-268481.30067718506
Model_Vitara:20794.289974125728
Model_WR-V:-24224.73767657028
Model_X1:93375.09424659821
Model_X3:144264.36256533707
Model_X5:173853.43391595458
Model_XUV300:-44383.52943733609
Model_Yaris:0.0

In [14]:
y_pred=LR.predict(x_test)

In [15]:
mse=mean_squared_error(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
print("mean squared error",mse)
print("mean absolute error",mae)

mean squared error 100617616025.56763
mean absolute error 201760.13995064422

In [16]:
car_df['Price'].max()

4000000